input[class="input"] {
  width: 400px;
  height: 50px;
  font-size: 30px;
}

div[id="box"] {
  background-color: rgb(162, 212, 212);
  width: 350px;
  height: 500px;
  border-radius: 10px;
  border-style: solid;
  overflow-y: scroll;
}

input[class="message"] {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  position: fixed;
  top: 475px;
  left: 20px;
}
