<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='shar.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    Username:
    <br />
    <input id="username" class="input" type="text" />
    <br />
    <br /><br />Password:<br />
    <input id="password" class="input" type="password" />
    <br />
    <br />
    <button id="login">LOG IN</button>
    <button id="sign">SIGN UP</button>
    <br />
    <br />
    Join Room:
    <input type="text" class="input" id="room" />
    <br />
    <br />
    Username:
    <input type="text" class="input" id="username_for_room" />
    <br />
    <br />
    <button id="join_room_button">JOIN ROOM</button>
    <script src="{{ url_for('static', filename='client.js') }}"></script>
  </body>
</html>
